on:
  workflow_dispatch:

jobs:
  example:
    runs-on: ubuntu-latest
    steps:
    - name: Set API Key
      run: echo "API_Key=12345" >> $GITHUB_ENV
    - name: Use API Key
      run: echo "Use API KEY $API_Key"
