name: First WorkFlow

on:
  push:
    branches:
      - main
jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Prin a Welcome Message
        run: echo "Welcome to our first action workflow"
